@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .__nsvg {
        max-height: 100%;
        height: 100%;
        &.is--browser {
            height: 1px;
            padding-bottom: 6.3%;
        }
    }
}