.background__one {
    background-image: url(../../img/bg1.jpg);
}

.background__two {
    background-image: url(../../img/bg2.jpg);
}

.heading {
    font-family: 'DINCondensedC';
    font-size: 52px;
    line-height: 53px;
    text-transform: uppercase;
}

.link {
    display: inline-block;
    position: relative;
    color: #158AEE;
    text-transform: uppercase;
    font-family: 'DINCondensedC';
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.12em;
    padding: 10px 0;
    white-space: nowrap;
    &::after {
        content: '';
        height: 3px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: #158AEE;
        position: absolute;
        top: 100%;
        width: 100%;
        transition: .25s all ease;
    }
    &:hover {
        &::after {
            width: 20%;
        }
    }
}

.__dd {
    &--is-bg {
        background-size: cover;
        background-position: top center;
    }
    &__block {
        &-one {
            &__inner {
                display: flex;
                @extend %container;
                min-height: 100vh;
                align-items: center;
                -ms-flex-pack: center;
                height: 100px;
                justify-content: center;
            }
            &__left {
                max-width: 934px;
                width: 100%;
                margin-right: 70px;
                &__notebook {
                    &__inner {
                        position: relative;
                    }
                    &__mockup {
                        position: relative;
                        z-index: 20;
                        svg {
                            height: auto;
                            width: 100%;
                        }
                    }
                }
            }
            &__right {
                max-width: 475px;
                min-width: 475px;
                width: 100%;
                &__heading {
                    color: #fff;
                    margin-bottom: 30px;
                }
                &__desc {
                    color: #fff;
                    line-height: 22px;
                    font-size: 18px;
                    margin-bottom: 70px;
                }
            }
        }
        &-two {
            padding-bottom: 100px;
            &__inner {
                @extend %container;
                color: #fff;
            }
            &__heading {
                margin-bottom: 20px;
            }
            &__desc {
                max-width: 590px;
                width: 100%;
                font-size: 18px;
                line-height: 22px;
            }
        }
        &-three {
            padding: 50px 0 180px 0;
            &__inner {
                @extend %container;
                display: flex;
                svg {
                    width: 100%;
                    height: auto;
                }
            }
            &__left {
                margin-right: 100px;
                margin-top: auto;
            }
            &__right {
                margin-top: auto;
                &__top {
                    max-width: 630px;
                    width: 100%;
                    margin-bottom: 30px;
                    color: #fff;
                }
                &__heading {
                    margin-bottom: 20px;
                }
                &__desc {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }
        &-four {
            padding: 120px 0 110px 0;
            &__inner {
                @extend %container;
            }
            &__top {
                color: #fff;
                display: flex;
                margin-bottom: 120px;
                &__inner {
                    max-width: 680px;
                    width: 100%;
                    margin-left: auto;
                }
                &__heading {
                    margin-bottom: 20px;
                }
                &__desc {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
            &__center {
                padding-bottom: 200px;
                ul {
                    display: flex;
                    justify-content: space-between;
                    li {
                        padding: 0 40px;
                        svg {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
            &__bottom {
                display: flex;
                justify-content: space-between;
                color: #fff;
                &__left {
                    max-width: 725px;
                    width: 100%;
                    margin-right: 30px;
                    &__block {
                        margin-bottom: 20px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
                &__right {
                    margin-right: 15%;
                }
            }
        }
    }
    &__carousel {
        padding: 100px 0;
        &__inner {
            @extend %container;
            max-width: calc(1480px + 180px);
            padding-left: 90px;
            padding-right: 90px;
        }
        &__top {
            margin-bottom: 60px;
            &__heading {
                margin-bottom: 20px;
            }
            &__desc {
                font-size: 18px;
                line-height: 22px;
                max-width: 590px;
            }
        }
        &__slides {
            position: relative;
            &__browser {
                svg {
                    width: 100%;
                    height: auto;
                }
            }
            &__list {
                &__block {
                
                }
            }
            &__controls {
                button {
                    border: none;
                    padding: 0;
                    background: transparent;
                    outline: none;
                    cursor: pointer;
                    position: absolute;
                    top: 50%;
                    margin-top: -40px;
                    svg {
                        fill: #158AEE;
                    }
                    &.is--prev {
                        left: -65px;
                    }
                    &.is--next {
                        right: -65px;
                        transform: rotate(180deg);
                    }
                }
            }
            .slick {
                &-list {
                    border: 2px solid #158AEE;
                    border-top: 0;
                    border-bottom-right-radius: 20px;
                    border-bottom-left-radius: 20px;
                    overflow: hidden;
                }
                &-dots {
                    display: flex;
                    justify-content: center;
                    padding-top: 60px;
                    li {
                        padding: 0 10px;
                        &.slick-active {
                            button {
                                background: #158AEE;
                            }
                        }
                        button {
                            color: transparent;
                            background: transparent;
                            border: 2px solid #158AEE;
                            border-radius: 100%;
                            cursor: pointer;
                            outline: none;
                            display: block;
                            width: 17px;
                            height: 17px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .heading {
        font-size: 32px;
        line-height: 33px;
    }
    .__dd {
        &__block {
            &-one {
                &__inner {
                    min-height: 0;
                    padding-top: 50px;
                    padding-bottom: 50px;
                    height: auto;
                }
                &__left {
                    margin-right: 30px;
                }
                &__right {
                    max-width: 365px;
                    min-width: 365px;
                    &__heading {
                        margin-bottom: 15px;
                    }
                    &__desc {
                        font-size: 16px;
                        line-height: 18px;
                        margin-bottom: 30px;
                    }
                }
            }
            &-three {
                &__left {
                    margin-right: 30px;
                }
            }
        }
    }
}

@media (max-width: 1025px) {
    .__dd {
        &__block {
            &-four {
                padding-top: 30px;
                &__top {
                    margin-bottom: 50px;
                }
                &__center {
                    padding-bottom: 50px;
                    ul {
                        li {
                            padding-left: 20px;
                            padding-right: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 850px) {
    .__dd {
        &__block {
            &-one {
                &__inner {
                    display: block;
                }
                &__left {
                    margin-bottom: 50px;
                }
                &__right {
                    max-width: 100%;
                    min-width: 0%;
                }
            }
            &-two {
                &__desc {
                    font-size: 16px;
                    line-height: 18px;
                }
            }
            &-three {
                &__right {
                    &__desc {
                        font-size: 16px;
                        line-height: 18px;
                    }
                }
            }
            &-four {
                &__center {
                    ul {
                        flex-wrap: wrap;
                        li {
                            margin: 0 auto 30px auto;
                        }
                    }
                }
                &__bottom {
                    flex-wrap: wrap;
                    &__left {
                        margin-right: 0;
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .__dd {
        &__block {
            &-two {
                padding-bottom: 0px;
            }
            &-three {
                padding-bottom: 50px;
                &__inner {
                    flex-flow: wrap;
                }
                &__left {
                    order: 1;
                    margin-right: 0;
                    margin: 0 auto;
                }
                &__right {
                    order: 0;
                    margin-bottom: 30px;
                }
            }
        }
        &__carousel {
            display: none;
        }
    }
}